@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #231537;
    --background: #fafaff;
    --primary: #6a5275;
    --secondary: #c7a3d1;
    --accent: #d1aa3d;
  }
  .dark {
    --text: #fafaff;
    --background: #000005;
    --primary: #a28aad;
    --secondary: #522e5c;
    --accent: #c29b2e;
  }
}
